*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: rgb(197, 189, 189);
    background-image: linear-gradient(to bottom, rgb(197, 189, 189), rgb(30, 30, 30));
    background-size: cover; /* Fikserer bildet i midten av siden*/
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;

}

.fuckCSSdivcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    

}
iframe{
    width: 80vw;
    height: 100vh;
    border: 1px solid white;
    margin-top: 100px;

}


.bilde-serie{
    display: flex;
    margin-top: 100px;
    background-color: rgba(255, 64, 0, 0.8);
    flex-wrap: wrap;
    width: 75vw;
    border-radius: 3px;
    justify-content: center;

}  

.bilde-align{
    display: flex;
    justify-content: center;
}
.bilde-con img{
    margin-top: 50px;
    margin: 20px;
    max-width: 25vw;
    max-height: 100%;
    border: 1px solid orange;
    
}
