*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.day {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.day h2 {
    margin-top: 0;
}

.day ul {
    list-style-type: disc;
    padding-left: 20px;
}