/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e232a 0%, #1e232a 40%, #1e2838 70%, #1e2d4a 100%);
    color: #ffffff;
}


/* Search Bar */
.search-bar {
    margin: 20px 0;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center; /* Sentrerer søkefelt og ikon vertikalt */
    justify-content: center; /* Sentrerer hele containeren horisontalt */
    gap: 10px; /* Mellomrom mellom søkefeltet og ikonet */
}

.search-container input {
    width: 100%;
    max-width: 675px; /* Begrens bredden til søkefeltet */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    outline: none;
}

.search-container img.search-icon {
    width: 50px; /* Sett ikonets bredde */
    height: 50px; /* Sett ikonets høyde */
    object-fit: contain; /* Sørg for at bildet ikke strekkes */
    cursor: pointer; /* Gir ikonet en "pekehånd" for interaktivitet */
}


/* Logs Section */
.logs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 40px;
}

.log {
    background-color: #2e343b;
    padding: 30px;
    border-radius: 10px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.log h6 {
    margin-top: -15px;  /* Pulls h6 closer to h3 */
    margin-bottom: 15px;  /* Adds space between h6 and paragraph */
    color: rgba(255, 255, 255, 0.6);
}

.log h3 {
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.log p {
    font-size: 16px;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 1300px) {
    .log {
        width: 95%;
    }
}

.dropdown-filter {
    position: relative;
    display: inline-block;
}

.dropdown-filter select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    height: 40px;
    font-size: 1.1rem;
}

.dropdown-filter:hover select option {
    background-color: #f1f1f1;
}