nav{
    padding-right: 10px;
    backdrop-filter: blur(4px);

}

nav ul{
    width: 100%; /* Lengden på nav linjen*/
    position: relative;
    list-style: none; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    position: relative;
}

nav ul li a{
    white-space: nowrap;

}
/* Høyden på nav linkene. Ikke satt høyde på nav ul og nav fordi jeg vil at nav li skal definere høyden på de*/
nav li{
    height: 70px;    
}

nav a{
    height: 100%;
    padding: 0 30px; /*Mellomrom på tekstene*/
    text-decoration: none; /* For å fjerne understreken på linkene*/
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}



nav a:hover{
    background-color: rgba(57, 136, 247, 0.7);
    backdrop-filter: blur(4px);
    border-radius: 3px;
}

nav li:first-child{
    margin-right: auto; /* Flyter den første item i listen til venstre hjørne*/ 
}

nav ul li .dropdown{
    display: none;
    position: absolute;
    /*background-color: rgb(41, 41, 41);*/
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    list-style: none;
    top: 100%;
    max-width: inherit;
    padding: 0;
    margin: 0;
    max-width: 100%;
    z-index: 100;
    backdrop-filter: blur(4px);
}

nav ul li:hover .dropdown{
    display: block;
}

nav ul li .dropdown li{
    padding: 3px 3px;
    white-space: nowrap;
}

nav ul li .dropdown li a{
    color: white;
    text-decoration: none;

}

/*Makes the boxes stack verticaly when the tab is reduced to a certant size*/
@media only screen and (max-width: 920px) {

    nav ul {
        justify-content: space-evenly;
    }
    nav a {
        padding: 0px 5px;
    }

    nav li:first-child{
        margin-right: 0px;
        margin-left: 25px;

    }
    nav ul{
        flex-wrap: wrap;
    }
}