/* Generelle stiler*/

/*Fjerner default padding og margin fra nettleseren*/
*{
    margin: 0;
    padding: 0;

}

body{
    min-height: 100vh;
    background-image: url(../Bilder/Abstract_red_Circle_on_black_backgroun_technology-removebg.png), url(../Bilder/Abstract\ Blue\ Circle\ on\ black\ background\ technology.jpg);
    background-size: cover; /* Fikserer bildet i midten av siden*/
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;

}


/*Bakgrunnsbilde Kilde*/
footer{
    position: fixed;
    bottom: 0;
    left: 12px;
    padding: 10px;
    z-index: 5;
}

.flatart-link a{
    color: turquoise;
}
footer li{
    color: white;
    display: flex;
    margin-right: auto;
    text-decoration: underline;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 1000px;
    width: 1000px;
    margin: auto;
}

.info-container{
    display: flex;
}