*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(../Bilder/Gradien\ Abstract\,\ Blue\ Purple.jpg);
    background-size: cover; /* Fikserer bildet i midten av siden*/
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;

}



/*Makes the boxes stack verticaly when the tab is reduced to a certant size*/
@media only screen and (max-width: 920px) {
    
    .Prosjekt-Top{
        flex-direction: column;
    }
    .Prosjekt-Bottom{
        flex-direction: column;
    }
}


.header{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.header-box{
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.09);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 5px;   
    position: relative;
    display: flex;
    width: 700px;
    height: 100px;

}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    font-size: 1.5rem;

}


/*Prosjekt Top*/

.Prosjekt-Top, .Prosjekt-Bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px;
    margin-top: 40px;
    padding: 20px;
}

.Project-box{
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.058);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(8px);
    height: 450px;
    width: 420px;
    border-radius: 15px;
    margin-bottom: 25px;
    gap: 10px;
}

.Project-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    color: white;
}


.Project-content img{
    display: inline-block;  
    margin: 20px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 1px;
    transition: filter 0.5s ease;
    filter: blur(2px); 

}


.Project-content img:hover{
    filter: blur(0px);
}

.Project-box.z-index-low{
    z-index: -1;
}

/*Bakgrunnsbilde Kilde*/
footer{
    position: fixed;
    bottom: 0;
    left: 12px;
    padding: 10px;
    z-index: 5;
}

.flatart-link a{
    color: turquoise;
    
}

footer li{
    color: white;
    display: flex;
    margin-right: auto;
    text-decoration: underline;
}
