/* Generelle stiler*/

/*Fjerner default padding og margin fra nettleseren*/
*{
    margin: 0;
    padding: 0;

}

body{
    min-height: 100vh;
    background-image: url(../Bilder/wood-3346811_1920.jpg);
    background-size: cover; /* Fikserer bildet i midten av siden*/
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* Skygge på navigasjons linjen*/
}

nav ul{
    width: 100%; /* Lengden på nav linjen*/

    /*Flexbox shinanigans*/
    list-style: none; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

/* Høyden på nav linkene. Ikke satt høyde på nav ul og nav fordi jeg vil at nav li skal definere høyden på de*/
nav li{
    height: 50px;    
}

nav a{
    height: 100%;
    padding: 0 30px; /*Mellomrom på tekstene*/
    text-decoration: none; /* For å fjerne understreken på linkene*/
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
}



nav a:hover{
    background-color: lightgray; /*litt feedback på når han har musen over lenkene*/
}

nav li:first-child{
    margin-right: auto; /* Flyter den første item i listen til venstre hjørne*/ 
}

nav li:first-child img{
    
}

/*Hvis vindu mindre en px holder hero avstand fra kantene på vinduet*/
@media only screen and (max-width: 800px) {
    .head {
        margin: 20px;
    }
    .hero-boarder {
        margin: 20px;
    }
}

.container{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /*Runder av hjørnene på containeren*/
    width: 850px;
    padding: 30px;
    text-align: center;
    margin: auto;
}

.head{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.head-content h1{
    font-size: 2rem;
    margin: 0px;
}

.head-content p{
    margin-top: 10px;
}




.hero-container {
    display: flex;
    justify-content: center; /* Center both sections horizontally */
    align-items: flex-start; /* Align them at the top */
    gap: 20px; /* Add space between the two sections */
    margin-top: 80px;
}


/* Left */

/*
.heroL-boarder {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.heroL-content {
    height: 550px;
    width: 500px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.h2L{
    padding: 10px;
    font-size: 1.4rem;
}

/* Right */

/*
.heroR-boarder {
    display: flex;
    justify-content: center;
    align-items: center;    
}
*/

.heroR-content {
    height: 550px;
    width: 500px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.h2R{
    padding: 10px;
    font-size: 1.4rem;
}
